:host {
  border-bottom: 1px solid #ccc;
  margin: 0 0 20px;
  padding: 0 0 20px;
  display: block;
}
.error {
  background: #e82041;
  border-radius: 5px 5px 5px 5px;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.5;
  padding: 6px 10px;
  margin-top: 10px;
}
button {
  background: #9E61C8;
  border-radius: 0;
  line-height: 1.5;
  margin-left:10px;
  padding: 5px 10px;
  color: #fff;
  font-weight: 500;
  &:disabled {
    background: #96a3b7;
  }
}